<nav class="bg-gray-800 fixed top-0 w-full">
    <div class="container mx-auto flex items-center justify-between px-4 py-2">
        <a class="text-white text-lg font-semibold">CINEFLIX</a>
        <button class="text-gray-200 hover:text-white focus:outline-none lg:hidden" type="button" >
            <!-- Ícone do menu hamburguer -->
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>
        </button>
        <div :class="{'block': isOpen, 'hidden': !isOpen}" class="w-full lg:flex lg:items-center lg:w-auto lg:space-x-4 hidden">
            <ul class="flex flex-col lg:flex-row lg:ml-auto lg:space-x-4">
                <li>
                    <a class="text-gray-300 hover:text-white px-2 py-1" href="#">Home</a>
                </li>
                <li>
                    <a class="text-gray-300 hover:text-white px-2 py-1" href="#">Sobre</a>
                </li>
                <li>
                    <a class="text-gray-300 hover:text-white px-2 py-1" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>