<div class="flex justify-between items-center w-full p-2 border-b border-gray-300">
  <form [formGroup]="todoForm" class="flex items-center gap-4 w-full">
    <input
      id="task-{{ todo.id }}"
      type="checkbox"
      formControlName="completo"
      (change)="onTaskChecked()"
      class="cursor-pointer accent-gray-400"
    />
    <label
      for="task-{{ todo.id }}"
      [class.line-through]="todoForm.get('completo')?.value"
      [class.text-gray-400]="todoForm.get('completo')?.value"
      class="text-sm cursor-default select-none"
    >
      {{ todo.titulo }}
    </label>
  </form>
  <button 
    class="p-2 rounded hover:bg-gray-200 transition"
    (click)="deleteTodo()"
  >
    <i class="fas fa-trash-alt fa-lg text-gray-600 hover:text-gray-400"></i>
  </button>
</div>